/* Import the Google Font in your CSS file */
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

.about {
  text-align: center;
  padding: 20px;
  background: #4ECDC4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #556270, #4ECDC4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #556270, #4ECDC4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #333;
  font-family: 'Arvo', sans-serif; /* Apply new font here */
}

h2 {
  font-size: 2.5rem;
  color: #222;
  margin-bottom: 20px;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;
  width: 80%;
}

.about-text {
  flex: 1;
  padding: 10px;
  font-size: 1.2rem;
  color: #555;
}

.about-image {
  flex: 1;
  padding: 10px;
}

.about-image img {
  max-width: 100%;
  border-radius: 8px;
  height: auto;
}

.about-footer {
  margin-top: 20px;
  font-size: 1rem;
  color: #555;
}

h4 {
  color: black;
  font-family: 'Arvo', sans-serif; /* Apply new font here */
}
