/* src/Components/Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

.nav-left ul,
.nav-right ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-left ul li,
.nav-right ul li {
  margin-left: 20px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 8px 15px;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: #555;
  border-radius: 5px;
}

.logo-img {
  /* width: 40px; */
  height: 40px;
}

.right-logo {
  height: 30px;
  margin-right: 20px;
}

.cart-link,
.wishlist-link {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 3px 7px;
  font-size: 12px;
}

.profile-link {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile-icon {
  margin-left: 20px;
  font-size: 20px;
  color: white; /* Add this line to set the color to white */
}


.profile-menu {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #e7dcdc;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(181, 121, 9);

  z-index: 1000;
}

.profile-menu a {
  display: block;
  padding: 10px 20px;
  color: #d32727;
  text-decoration: none;
}

.profile-menu a:hover {
  background-color: #f5f5f5;
}

.category-link {
  position: relative;
}

.category-link .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.category-link .dropdown-menu li {
  margin: 0;
}

.category-link .dropdown-menu a {
  display: block;
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
}

.category-link .dropdown-menu a:hover {
  background-color: #f5f5f5;
}

.category-link:hover .dropdown-menu {
  display: block;
}
